<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/inscriptions/" />
    <title>Redirection | JAMM Dance</title>
  </head>
  <body>
    <p>Vous êtes redirigé vers <a href="/inscriptions/">Inscriptions et Tarifs</a>.</p>
  </body>
</html>
